<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的订单</title>
		<link type="text/css" rel="stylesheet" href="/static/css/style.css">
		<style type="text/css">
			h1 {
				text-align: center;
				margin-top: 200px;
			}
		</style>
	</head>

	<body>

		<div id="header">
			<span class="wel_word">我的订单</span>
			<div>
				<span>欢迎<span class="um_span">{{.Data.User.Username}}</span>光临书城</span>
				<a href="/refactor/user/order">我的订单</a>
				<a href="/refactor/user/logout">注销</a>&nbsp;&nbsp;
				<a href="/refactor">返回</a>
			</div>
		</div>

		<div id="main">
			<table>
				<tr>
					<th>单号</th>
					<th>日期</th>
					<th>数量</th>
					<th>金额</th>
					<th>详情</th>
					<th>发货</th>
				</tr>
				{{range .Data.Orders}}
				<tr>
					<td>{{.ID}}</td>
					<td>{{.GetTime}}</td>
					<td>{{.TotalCount}}</td>
					<td>{{.TotalAmount}}</td>
					<td><a href="/refactor/user/getOrderInfo?orderID={{.ID}}">查看详情</a></td>
					<td class="state">
						{{if .SendComplate}}
						<a href="/refactor/user/takeOrder?orderID={{.ID}}">确认收货</a>
						{{end}}
						{{if .NoSend}}
						等待发货
						{{end}}
						{{if .Complate}}
						交易完成
						{{end}}
					</td>
				</tr>
				{{end}}
			</table>
		</div>

		<div id="bottom">
			<span>
				书城.Copyright &copy;2020.<a href="http://www.beian.miit.gov.cn/">鄂ICP备20002228号</a>
			</span>
		</div>
	</body>

</html>