<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>后台管理</title>
		<link type="text/css" rel="stylesheet" href="/static/css/style.css">
		<style type="text/css">
			h1 {
				text-align: center;
				margin-top: 200px;
			}
		</style>
	</head>

	<body>

		<div id="header">
			<!-- <img class="logo_img" alt="" src="/static/img/logo.gif" > -->
			<span class="wel_word">后台管理系统</span>
			<div>
				<a href="/refactor/manager/bookManager">图书管理</a>
				<a href="/refactor/manager/orderManager">订单管理</a>
				<a href="/refactor/manager/logout">注销</a>
				<a href="/refactor">返回商城</a>
			</div>
		</div>

		<div id="main">
			<h1>欢迎管理员
				{{.Data.Username}}
				进入后台管理系统</h1>
		</div>

		<div id="bottom">
			<span>
				书城.Copyright &copy;2020.<a href="http://www.beian.miit.gov.cn/">鄂ICP备20002228号</a>
			</span>
		</div>
	</body>

</html>