<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员注册页面</title>
		<link type="text/css" rel="stylesheet" href="/static/css/style.css">
		<style type="text/css">
			h1 {
				text-align: center;
				margin-top: 200px;
			}

			h1 a {
				color: red;
			}
		</style>
	</head>

	<body>
		<div id="header">
			<div>
				<span>欢迎
					<span class="um_span">
						{{.Data.Username}}
					</span>
					光临书城</span>
				<a href="/refactor/user/cart">购物车</a>
				<a href="/refactor/user/order">我的订单</a>
				<a href="/refactor/user/logout">注销</a>&nbsp;&nbsp;
				<a href="/refactor">返回商城</a>
			</div>
		</div>

		<div id="main">

			<h1>欢迎回来 <a href="/refactor">转到主页</a></h1>

		</div>

		<div id="bottom">
			<span>
				书城.Copyright &copy;2020.<a href="http://www.beian.miit.gov.cn/">鄂ICP备20002228号</a>
			</span>
		</div>
	</body>

</html>